aclocal.m4
autom4te.cache/
config.guess
config.sub
configure
controlbox
Makefile
depcomp
install-sh
ltmain.sh
config.status
libtool
config.h
m4
missing
*.in
*.lo
*.la
*.xml
*.log
.deps
.libs
*.o
*~
cbox
cboxtest
*.nsmap
soapC.cpp
soapClient.cpp
soapConcentratore43Soap12Proxy.h
soapConcentratore43SoapProxy.h
soapH.h
soapStub.h
stamp-h1
*.swp
src/src
